mixin slider-block()
  .slider-block.js-slider-block
    .slider-block__slider-wrapper
      .slider-block__slider.js-slider-block__slider
    .slider-block__options
      label.slider-block__option
        span.slider-block__option-name Минимум
        input.slider-block__min.js-slider-block__min(type="text")
      label.slider-block__option
        span.slider-block__option-name Максимум
        input.slider-block__max.js-slider-block__max(type="text")
      label.slider-block__option
        span.slider-block__option-name Двойной слайдер
        input.slider-block__range.js-slider-block__range(type="checkbox")
      label.slider-block__option
        span.slider-block__option-name Значение 1
        input.slider-block__from.js-slider-block__from(type="text")
      label.slider-block__option
        span.slider-block__option-name Значение 2
        input.slider-block__to.js-slider-block__to(type="text")
      label.slider-block__option
        span.slider-block__option-name Шаг
        input.slider-block__step.js-slider-block__step(type="text")
      label.slider-block__option
        span.slider-block__option-name Вертикальный
        input.slider-block__vertical.js-slider-block__vertical(type="checkbox")
      label.slider-block__option
        span.slider-block__option-name Подсказки
        input.slider-block__display-hint.js-slider-block__display-hint(type="checkbox")
      label.slider-block__option
        span.slider-block__option-name Трекер
        input.slider-block__display-tracker.js-slider-block__display-tracker(type="checkbox")
      label.slider-block__option
        span.slider-block__option-name Сетка
        input.slider-block__display-grid.js-slider-block__display-grid(type="checkbox")
      label.slider-block__option
        span.slider-block__option-name Шаг сетки
        input.slider-block__grid-step.js-slider-block__grid-step(type="text")
      label.slider-block__option
        span.slider-block__option-name Отключить
        input.slider-block__disabled.js-slider-block__disabled(type="checkbox")
