doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="slider, range slider, range-slider")
    meta(name="description", content="Демонстрация возможностей RangeSlider")
    link(rel="stylesheet", type="text/css", href="./plugin/css/range-slider.css")
    link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
    title Демо RangeSlider
  body
    include components/slider-block/slider-block

    main.main-wrapper
      h1.main-wrapper__title $(block).rangeSlider();
      section.main-wrapper__slider-block-wrapper
        h2.main-wrapper__slider-block-title Демо 1
        +slider-block()
      section.main-wrapper__slider-block-wrapper
        h2.main-wrapper__slider-block-title Демо 2
        +slider-block()
      section.main-wrapper__slider-block-wrapper
        h2.main-wrapper__slider-block-title Демо 3
        +slider-block()
